<h1>Create book</h1>
<form (ngSubmit)="createBook()">
  <table>
    <tr>
      <td>Name</td>
      <td><label>
        <input type="text" [(ngModel)]="book.title" name="title" placeholder="Input title">
      </label></td>
    </tr>
    <tr>
      <td>Author</td>
      <td><label>
        <input type="text" [(ngModel)]="book.author" name="author" placeholder="Input author">
      </label></td>
    </tr>
    <tr>
      <td>Description:</td>
      <label>
        <textarea cols="50" rows="10" type="text" name="description" [(ngModel)]="book.description" placeholder="Input description"></textarea>
      </label>
    </tr>
    <tr>
      <td></td>
      <td><button>Submit</button></td>
    </tr>
  </table>
</form>
